<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 

	<h:head>
		<title>Hello World - Input Form</title>
	</h:head>
	<h:body>
		<h:form>
			<h:inputText id="name" value="#{theUserName}"
				p:placeholder="What's your name?" />
			<h:commandButton value="Submit" action="myresponse" />
		</h:form>
	</h:body></html>
