<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2" >
                <h:outputLabel value="Channel"></h:outputLabel>
				<h:selectOneMenu value="#{listingsBean.channel}">
				   	<f:selectItem itemValue="all" itemLabel="*" />
				   	<f:selectItem itemValue="A" itemLabel="A" />
				   	<f:selectItem itemValue="B" itemLabel="B" />
				   	<f:selectItem itemValue="C" itemLabel="C" />
				   	<f:selectItem itemValue="D" itemLabel="D" />
				   	<f:selectItem itemValue="E" itemLabel="E" />
				   	<f:selectItem itemValue="F" itemLabel="F" />
				   	<f:selectItem itemValue="G" itemLabel="G" />
				   	<f:selectItem itemValue="H" itemLabel="H" />
				   	<f:selectItem itemValue="I" itemLabel="I" />
				   	<f:selectItem itemValue="J" itemLabel="J" />
				   	<f:selectItem itemValue="K" itemLabel="K" />
				   	<f:selectItem itemValue="L" itemLabel="L" />
				   	<f:selectItem itemValue="M" itemLabel="M" />
				   	<f:selectItem itemValue="N" itemLabel="N" />
				   	<f:selectItem itemValue="O" itemLabel="O" />
				   	<f:selectItem itemValue="P" itemLabel="P" />
				   	<f:selectItem itemValue="Q" itemLabel="Q" />
				   	<f:selectItem itemValue="R" itemLabel="R" />
				   	<f:selectItem itemValue="S" itemLabel="S" />
				   	<f:selectItem itemValue="T" itemLabel="T" />
				   	<f:selectItem itemValue="U" itemLabel="U" />
				   	<f:selectItem itemValue="V" itemLabel="V" />
				   	<f:selectItem itemValue="W" itemLabel="W" />
				   	<f:selectItem itemValue="X" itemLabel="X" />
				   	<f:selectItem itemValue="Y" itemLabel="Y" />
				   	<f:selectItem itemValue="X" itemLabel="Z" />
				</h:selectOneMenu>            
                <h:outputLabel value="Filter"></h:outputLabel>
                <h:inputText value="#{listingsBean.filter}"></h:inputText>
            	<h:commandButton value="Search" action="search"></h:commandButton>
            </h:panelGrid>
        </h:form>
        <br/>
        <div class="table-responsive">
	        <table class="table table-striped table-bordered table-condensed">
	        	<h:outputText id="output" value="#{listingsBean.listings}" escape="false" />
	        </table>
        </div>
        <h:outputLink value="https://gitlab.com/simonmsh/jsched2">Source code</h:outputLink>
    </ui:define>
</ui:composition>
</html>