<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<title>Hello World - Response</title>
	</h:head>
	<h:body bgcolor="white">
		<h4>Hello, #{theUserName}</h4>
	</h:body>
</html>
